<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Lost Found" %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lost Found" %>">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="<%= asset_path "apple-touch-icon.png" %>">
    <link rel="apple-touch-startup-image" href="<%= asset_path "startup.png" %>">

    <!-- iPhone 6 Plus portrait startup image -->
    <link href="<%= asset_path 'startup-1242x2148.png' %>"
          media="(device-width: 414px) and (device-height: 736px)
                 and (-webkit-device-pixel-ratio: 3)
                 and (orientation: portrait)"
          rel="apple-touch-startup-image">

    <!-- iPhone 6 startup image -->
    <link href="<%= asset_path 'startup-750x1294.png' %>"
          media="(device-width: 375px) and (device-height: 667px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iPhone 5 startup image -->
    <link href="<%= asset_path 'startup-640x1096.png' %>"
          media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iPhone < 5 retina startup image -->
    <link href="<%= asset_path 'startup-640x920.png' %>"
          media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iPhone < 5 non-retina startup image -->
    <link href="https://placehold.it/320x460"
          media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">
    <main role="main">
       <%= yield %>
    </main>

    <footer>
      <p>
        <a href="/about.html">About Us</a> |
        <%= link_to "Submit a Lost Property Report", new_owner_path  %>
      </p>
      <p>
        <i class="glyphicon glyphicon-map-marker"></i> Find nearest:
          <span style="white-space: nowrap">
            <a href="https://www.google.com.au/maps/search/police+stations+near+Melbourne,+Victoria/@-37.811273,144.9723277,14z" class="btn btn-xs btn-default"> Victoria Police Station</a>&nbsp;<a href="https://www.google.com.au/maps/search/train+stations+near+Melbourne,+Victoria/@-37.8162568,144.9637875,15z" class="btn btn-xs btn-default">Train Station
          </a>
      </p>
    </footer>

  </body>
</html>
